<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MyDatabase" connectionString="Server=database-1.crmrsizpasfs.sa-east-1.rds.amazonaws.com;Port=3306;Database=banco_teste;Uid=admin;Pwd=mortokil12;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>